[Desktop Entry]
Version=1.0
Name=gtk-calculator
GenericName=gtk-calculator
Comment=gtk-calculator
Exec=/usr/bin/python3 main.py
Icon=accessories-calculator
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=System;Utility;
